ConnectionStrings__DefaultConnection="Server=YOUR_SERVER;Database=DB_Operation;User Id=YOUR_USER;Password=YOUR_PASSWORD;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=True;"
DefaultConnection="Server=YOUR_SERVER;Database=DB_Operation;User Id=YOUR_USER;Password=YOUR_PASSWORD;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=True;"
