@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.98 0.002 240);
  --foreground: oklch(0.14 0.04 240);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.14 0.04 240);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.14 0.04 240);
  --primary: oklch(0.45 0.3 260);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.92 0.02 240);
  --secondary-foreground: oklch(0.14 0.04 240);
  --muted: oklch(0.92 0.01 240);
  --muted-foreground: oklch(0.5 0.02 240);
  --accent: oklch(0.45 0.35 260);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.62 0.22 25);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.92 0.01 240);
  --input: oklch(0.96 0.01 240);
  --ring: oklch(0.45 0.3 260);
  --chart-1: oklch(0.64 0.25 40);
  --chart-2: oklch(0.6 0.15 185);
  --chart-3: oklch(0.4 0.08 227);
  --chart-4: oklch(0.83 0.2 84);
  --chart-5: oklch(0.77 0.2 70);
  --radius: 0.5rem;
  --sidebar: oklch(0.2 0 0);
  --sidebar-foreground: oklch(0.98 0 0);
  --sidebar-primary: oklch(0.45 0.3 260);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.3 0.02 240);
  --sidebar-accent-foreground: oklch(0.98 0 0);
  --sidebar-border: oklch(0.3 0.02 240);
  --sidebar-ring: oklch(0.45 0.3 260);
}

.dark {
  --background: oklch(0.14 0.02 240);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.19 0.02 240);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.19 0.02 240);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.6 0.25 260);
  --primary-foreground: oklch(0.14 0.04 240);
  --secondary: oklch(0.3 0.01 240);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.4 0.01 240);
  --muted-foreground: oklch(0.7 0.01 240);
  --accent: oklch(0.6 0.25 260);
  --accent-foreground: oklch(0.14 0.04 240);
  --destructive: oklch(0.62 0.22 25);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.3 0.01 240);
  --input: oklch(0.25 0.02 240);
  --ring: oklch(0.6 0.25 260);
  --chart-1: oklch(0.7 0.2 40);
  --chart-2: oklch(0.65 0.15 185);
  --chart-3: oklch(0.55 0.15 227);
  --chart-4: oklch(0.7 0.2 84);
  --chart-5: oklch(0.65 0.2 70);
  --sidebar: oklch(0.15 0.02 240);
  --sidebar-foreground: oklch(0.98 0 0);
  --sidebar-primary: oklch(0.6 0.25 260);
  --sidebar-primary-foreground: oklch(0.14 0.04 240);
  --sidebar-accent: oklch(0.3 0.02 240);
  --sidebar-accent-foreground: oklch(0.98 0 0);
  --sidebar-border: oklch(0.3 0.02 240);
  --sidebar-ring: oklch(0.6 0.25 260);
}

@theme inline {
  --font-sans: "Geist", "Geist Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: calc(var(--radius) - 1px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 2px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
